body{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header {
display: flex;
justify-content: space-between;
}

img {
    width: 50px;
    height: 50px;  
    margin-left: 10px;
    object-fit: cover;

}

#user-icon {
    border-radius: 50%;
}

button {
    border: none;
    background-color: transparent;
}



.logo-left {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;

}

.logo {
    display: flex;
    justify-content: flex-end;

}

#main-logo {
    object-position: left;
}

hr {
    border: 1px solid lightgray;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    width: 100px;
}

.nav-bar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100px;
}

.nav-bar ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.nav-bar ul li a {
    text-decoration: none;
    color: inherit;
}

.settings {
    display: flex;
    position: absolute; /* Position absolutely within the nav-bar */
    bottom: 100px; /* Distance from the bottom */
}

#banner {
display: block;
width: 100%;
height: 150px;
object-fit: cover;
object-position: right;
margin: 0 40px;
flex-grow: 1;
border-radius: 20px;
}

.nav-bar-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.dashboard-title {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 50px;
    margin-top: 50px;
    text-decoration: underline;
}

p {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 60px;
    margin-left: 50px;
    font-size: 18px;

}

.boxes ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 18px;
    list-style-type: none;
}

.boxes ul li {
}

.boxes ul li a {
    text-decoration: none;
    color: inherit;
    height: 100px;
}

.box-1,
.box-2,
.box-3,
.box-4
{
    border: 1px solid black;
    padding:30px;
    height: 5px;
    width: 150px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    font-size: 18px;
}

.bottom-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.bottom-container ul li a {
    text-decoration: none;
    color: inherit;
}

.bottom-1,
.bottom-2,
.bottom-3 {
    border: 1px solid black;
    padding:30px;
    height: 250px;
    width: 250px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bottom-icon {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-1 a,
.bottom-2 a,
.bottom-3 a {
    margin-top: 20px;
}